{%  extends 'include/base.html' %}
{% load static %}
{%  block content %}
  
  <main>

    <div class="slider-area">
      <div class="slider-height2 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="hero-cap">
                <h2>Publications Details</h2>
                <nav aria-label="breadcrumb ">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index:home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascritp:voild()">Publications Details</a></li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    

  </main>

  {% endblock %}