{%  extends 'include/base.html' %}
{% load static %}
{%  block content %}


  <main>

    <div class="slider-area ">
      <div class="slider-height2 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="hero-cap">
                <h2>Publications</h2>
                <nav aria-label="breadcrumb ">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index:home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void()">Publications</a></li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <section class="blog_area section-padding">
      <div class="container">
        <div class="row">
          {% for i in public %}
          <div class="col-12 col-lg-4 mb-4">
            <div class="blog_left_sidebar">
              <article class="blog_item">
                <div class="blog_item_img">
                  <img class="card-img rounded-0" src="{{ i.image.url }}" alt="">
                </div>
                <div class="blog_details">
                  <a class="d-inline-block" href="#">
                    <h2>{{ i.name }}</h2>
                  </a>
                  <p>{{  i.description  }}</p>
                    <div class="rate" style="margin: 0%;">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                    <ul class="blog-info-link">
                      <li><a href="#">&#8358;{{ i.price }}</a></li>
                      <li><a href="#">&#36;{{  i.dollar_price }}</a></li>
                    </ul>
                    <div class="mt-4 add_to_cart" style="margin-top:5%;">
                      <a href="{% url 'index:details' i.slug %}">more details</a>
                    </div>
                </div>
              </article>
            </div>
          </div>
          {%  endfor %}
        </div>
      </div>
    </section>

  </main>

  {%  endblock %}