{%  load static %}
<footer>

    <div class="footer-area">
      <div class="container">
        <div class="footer-top footer-padding">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
              <div class="footer-top-cap ">
                  <h2 class="text-white" style="padding-bottom:15px;">Prof C.U.C Ugorji</h2>
                <p>
                  A Full Professor of Linguistics and English Language. 
                    A faculty member in the Department of Linguistics Studies, 
                    University of Benin, Benin City, Nigeria.
                    More than 30 years experience in teaching and research across cultures.
                </p>
                <div style="padding-top: 13px;">
                    <a href="#" class="" style="color: rgb(64, 64, 247);"> Know more &nbsp;<i class="fas fa-arrow-right"></i></a>
                </div>
                <div class="footer-social" style="padding-top: 15px;">
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </div>
              </div>
            </div>
            <div class="col-12 col-lg-2">
              <div class="footer-top-cap link">
                <h2 class="text-white" style="padding-bottom:15px;">Links</h2>
                <p><a href="#"> Home </a></p>
                <p><a href="#"> Profile </a></p>
                <p><a href="#"> Publications </a></p>
                <p><a href="#"> Consulting </a></p>
                <p><a href="#"> Contact </a></p>
              </div>
            </div>
            <div class="col-12 col-lg-2">
              <div class="footer-top-cap link">
                <h2 class="text-white" style="padding-bottom:15px;">Links</h2>
                <p><a href="#"> Home </a></p>
                <p><a href="#"> Profile </a></p>
                <p><a href="#"> Publications </a></p>
                <p><a href="#"> Consulting </a></p>
                <p><a href="#"> Contact </a></p>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="footer-top-cap">
                <h2 class="text-white" style="padding-bottom:15px;">Contact</h2>
                <p>221B Baker Street, Post office Box 353 </p>
                <p>Park Road, USA - 215431</p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="row d-flex justify-content-between align-items-center">
            <div class="col-12 col-xl-12 col-lg-12">
              <div class="footer-copy-right text-center">
                <p class="text-white">
                  Copyright &copy;
                  <script>document.write(new Date().getFullYear());</script> All rights reserved 
                  <!-- with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#"
                    target="_blank"></a> -->
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer>